@import "misc";

.nav {
	margin-right: 15px;
	border: $border;
	text-align: center;
	background-color: $background;
	//flex-shrink: 20;
	// width: fit-content;
	//height: calc(100% - 4px);
}

.nav_link {
	display: block;
	margin: 5px;
	padding: 10px;
	border: $border;
}
