@import "misc";

.textpart {
	border: $border;
	padding: 10px;
	background-color: $background;
	margin: 0px;
}

.links {
	border: $border;
	padding: 10px;
	background-color: $background;
	margin: 0px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.profile {
	padding: 0px;
	display: flex;
	justify-content: flex-end;
}

.nopad {
	padding: 0px;
}
