@import "misc";

.textpart {
	border: $border;
	padding: 10px;
	background-color: $background;
	margin: 0px;
}

.links {
	border: $border;
	padding: 10px;
	background-color: $background;
	margin: 0px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.profile {
	float: right;
	margin-left: 5px;
	border-radius: 50%;
}

.nopad {
	padding: 0px;
}
